parent/castiron_jar/wsdl/system.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.approuter.com/schemas/2008/1/system" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.approuter.com/schemas/2008/1/system" name="SystemManager">
<types>
<xsd:schema>
<xsd:import namespace="http://www.approuter.com/schemas/router/1000/NetConfig02.xsd" schemaLocation="system1.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.approuter.com/schemas/2008/1/util/types" schemaLocation="system2.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.approuter.com/schemas/2008/1/system" schemaLocation="system3.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="getApplianceName">
<part name="parameters" element="tns:getApplianceName"></part>
<part name="sessionId" element="tns:sessionId"></part>
</message>
<message name="getApplianceNameResponse">
<part name="result" element="tns:getApplianceNameResponse"></part>
</message>
<message name="setApplianceName">
<part name="parameters" element="tns:setApplianceName"></part>
<part name="sessionId" element="tns:sessionId"></part>
</message>
<message name="setApplianceNameResponse">
<part name="result" element="tns:setApplianceNameResponse"></part>
</message>
<message name="getSystemInfo">
<part name="parameters" element="tns:getSystemInfo"></part>
<part name="sessionId" element="tns:sessionId"></part>
</message>
<message name="getSystemInfoResponse">
<part name="result" element="tns:getSystemInfoResponse"></part>
</message>
<message name="executeCommand">
<part name="parameters" element="tns:executeCommand"></part>
<part name="sessionId" element="tns:sessionId"></part>
</message>
<message name="executeCommandResponse">
<part name="result" element="tns:executeCommandResponse"></part>
</message>
<message name="downloadPostmortem">
<part name="parameters" element="tns:downloadPostmortem"></part>
<part name="sessionId" element="tns:sessionId"></part>
</message>
<message name="downloadPostmortemResponse">
<part name="result" element="tns:downloadPostmortemResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="getNetworkConfiguration">
<part name="parameters" element="tns:getNetworkConfiguration"></part>
<part name="sessionId" element="tns:sessionId"></part>
</message>
<message name="getNetworkConfigurationResponse">
<part name="result" element="tns:getNetworkConfigurationResponse"></part>
</message>
<message name="setNetworkConfiguration">
<part name="parameters" element="tns:setNetworkConfiguration"></part>
<part name="sessionId" element="tns:sessionId"></part>
</message>
<message name="setNetworkConfigurationResponse">
<part name="result" element="tns:setNetworkConfigurationResponse"></part>
</message>
<portType name="SystemManager">
<operation name="getApplianceName" parameterOrder="parameters sessionId">
<input message="tns:getApplianceName"></input>
<output message="tns:getApplianceNameResponse"></output>
</operation>
<operation name="setApplianceName" parameterOrder="parameters sessionId">
<input message="tns:setApplianceName"></input>
<output message="tns:setApplianceNameResponse"></output>
</operation>
<operation name="getSystemInfo" parameterOrder="parameters sessionId">
<input message="tns:getSystemInfo"></input>
<output message="tns:getSystemInfoResponse"></output>
</operation>
<operation name="executeCommand" parameterOrder="parameters sessionId">
<input message="tns:executeCommand"></input>
<output message="tns:executeCommandResponse"></output>
</operation>
<operation name="downloadPostmortem" parameterOrder="parameters sessionId">
<input message="tns:downloadPostmortem"></input>
<output message="tns:downloadPostmortemResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="getNetworkConfiguration" parameterOrder="parameters sessionId">
<input message="tns:getNetworkConfiguration"></input>
<output message="tns:getNetworkConfigurationResponse"></output>
</operation>
<operation name="setNetworkConfiguration" parameterOrder="parameters sessionId">
<input message="tns:setNetworkConfiguration"></input>
<output message="tns:setNetworkConfigurationResponse"></output>
</operation>
</portType>
<binding name="SystemManagerPortBinding" type="tns:SystemManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getApplianceName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:getApplianceName" part="sessionId" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setApplianceName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:setApplianceName" part="sessionId" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSystemInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:getSystemInfo" part="sessionId" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="executeCommand">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:executeCommand" part="sessionId" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="downloadPostmortem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:downloadPostmortem" part="sessionId" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNetworkConfiguration">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:getNetworkConfiguration" part="sessionId" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setNetworkConfiguration">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:setNetworkConfiguration" part="sessionId" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SystemManager">
<port name="SystemManagerPort" binding="tns:SystemManagerPortBinding">
<soap:address location="system"></soap:address>
</port>
</service>
</definitions>
