parent/castiron_jar/src/main/resources/META-INF/wsdl/system2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.1.7-b01-. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" version="1.0"
	targetNamespace="http://www.approuter.com/schemas/2008/1/util/types">

	<xs:complexType name="nameValuePair">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>